.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/

*.class
*.log
*.ctxt

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!gradle-wrapper.jar

hs_err_pid*
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

.gradle
build/
**/build/
gradle-app.setting
.gradletasknamecache

run/
runs/
